body{
  background-color: #02475e;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.container{
  text-align: center;
  margin: auto;
  width: 70%;
}
.dice{
  text-align: center;
  display: inline-block;
}
img{
  width: 80%;
}
